[Service]
ExecStart=/usr/bin/kubelet \
    --api_servers=http://127.0.0.1:8080 \
    --register-node=false \
    --allow-privileged=true \
    --config=/etc/kubernetes/manifests \
    --hostname-override=10.245.1.3 \
    --cluster-dns=11.1.2.10 \
    --cluster-domain=cluster.local
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target

