[Service]
ExecStart=/usr/bin/kubelet \
    --api_servers=http://10.245.1.3:8080 \
    --register-node=false \
    --allow-privileged=true \
    --config=/etc/kubernetes/manifests \
    --hostname-override=10.245.1.4 \
    --cluster-dns=11.1.2.10 \
    --cluster-domain=cluster.local \
    --kubeconfig=/etc/kubernetes/worker-kubeconfig.yaml \
    --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
    --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target

